<div class="relative">
    <swiper-container 
[slidesPerView]="1"
[autoplay]="true"
[spaceBetween]="0"
>
<!-- autoplay-delay="3500"-->
    <swiper-slide class="h-screen bg-gradient-to-b from-bgTern via-bgSeco to-bgPrim">
        <div class="max-w-6xl mx-auto relative    px-4 md:px-12 pb-10 pt-20 text-textPrimary">
            <div class="sticky top-[62px] m-auto md:m-0  md:mr-auto w-3/4 md:w-1/2  flex flex-col animation_div_right">
            <p class="text-3xl font-bold text_font_marvel mt-4">El Arte del Desarrollo</p>
            <p class="text-xl my-6">
              "Descubre artículos y tutoriales sobre las claves del desarrollo web.
               Aprende sobre técnicas y herramientas que te ayudarán a crear proyectos exitosos."</p>
              <!-- <app-button3d class="w-[150px]"
              [border]="'3px'"
              [rounded]="'5px'" [title]="''"
              [type]="'btn_primary'"
              font_size="14px" [font_body_weight]="'900'"  [height]="'40px'"
              [width]="'100%'" [raise]="6">
                <div class="flex gap-3 justify-between items-center uppercase">
                    <p>Read More </p>
                </div>
              </app-button3d> -->
            </div>
            <div>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide class="h-screen bg-orange-500">Slide 2</swiper-slide>
    <swiper-slide class="h-screen bg-green-500">Slide 3</swiper-slide>
  </swiper-container>
  <svg class=" slider_waves w-full fill-bgSeco"  preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path  fill-opacity="1" d="M0,160L80,176C160,192,320,224,480,202.7C640,181,800,107,960,80C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
</div>