<div class="relative bg-gradient-to-b from-bgPrim via-bgSeco to-bgTern">
  <div class="slider z-30">
  <div class="slides" [style.transform]="transformStyle">
    <div class="slide" [ngClass]="{'active': 0 === currentIndex}">
      <div class="max-w-6xl mx-auto relative    px-4 md:px-12 pb-10 pt-20 text-textPrimary">
        <div class="sticky top-[62px] m-auto md:m-0  md:mr-auto w-3/4 md:w-1/2  flex flex-col animation_div_right">
          <!--            <img class="w-3/4 md:w-1/3 " src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png"-->
          <!--                 srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2">-->
          <p class="text-3xl font-bold text_font_marvel mt-4">El Arte del Desarrollo</p>
          <p class="text-xl my-6">
            Descubre artículos y tutoriales sobre las claves del desarrollo web.
            Aprende sobre técnicas y herramientas que te ayudarán a crear proyectos exitosos.</p>

         <!-- <app-button3d class="w-[150px]"
                        [rounded]="'5px'" [title]="''"
                        [type]="'btn_primary'"
                        font_size="14px" [font_body_weight]="'900'"  [height]="'30px'"
                        [width]="'100%'" [raise]="6">
            <div class="flex gap-3 justify-between items-center uppercase">
              <p>Read More </p>
              <i class="fas fa-light fa-arrow-right  text-xs"></i>
            </div>
          </app-button3d>-->
        </div>
        <div>

        </div>
      </div>
    </div>
    <div class="slide" [ngClass]="{'active': 1 === currentIndex}">
      <div class="max-w-6xl mx-auto relative    px-4 md:px-12 pb-10 pt-20 text-textPrimary ">
        <div class="ml-auto sticky top-[62px] m-auto md:m-0  md:ml-auto w-3/4 md:w-1/2  flex flex-col animation_div_left">
          <!--            <img class="w-3/4 md:w-1/3 "  src="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" srcset="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" alt="Iron Man 1">-->
          <p class="text-3xl font-bold text_font_marvel mt-4">Fundamentos de la Programación</p>
          <p class="text-xl my-6">
Explora el fascinante mundo del desarrollo web. Aprende las tecnologías clave como HTML, CSS y JavaScript.
          </p>
        </div>
      </div>
    </div>
    <div class="slide" [ngClass]="{'active': 2 === currentIndex}">
      <div class="max-w-6xl mx-auto relative    px-4 md:px-12 pb-10 pt-20 text-textPrimary">
        <div class="sticky top-[62px] m-auto md:m-0  md:mr-auto w-3/4 md:w-1/2  flex flex-col animation_div_right">
          <!--            <img class="w-3/4 md:w-1/3 " src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png"-->
          <!--                 srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2">-->
          <p class="text-3xl font-bold text_font_marvel mt-4">Explora Angular</p>
          <p class="text-xl my-6">
          Adéntrate en Angular: El framework que revoluciona el desarrollo web</p>
        </div>
        <div>

        </div>
      </div>
    </div>
    <div class="slide" [ngClass]="{'active': 3 === currentIndex}">
      <div class="max-w-6xl mx-auto relative    px-4 md:px-12 pb-10 pt-20 text-textPrimary ">
        <div class="ml-auto sticky top-[62px] m-auto md:m-0  md:ml-auto w-3/4 md:w-1/2  flex flex-col animation_div_left">
          <!--            <img class="w-3/4 md:w-1/3 "  src="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" srcset="https://cdn.marvel.com/content/1x/ironman_lob_log_eye_01_0.png" alt="Iron Man 1">-->
          <p class="text-3xl font-bold text_font_marvel mt-4">Claves para Diseñar Interfaces de Usuario </p>
          <p class="text-xl my-6">
Buenas prácticas para crear interfaces de usuario atractivas y funcionales
          </p>
         <!-- <app-button3d class="w-[150px]"
                        [rounded]="'5px'" [title]="''"
                        [type]="'btn_primary'"
                        font_size="14px" [font_body_weight]="'900'"  [height]="'30px'"
                        [width]="'100%'" [raise]="6">
            <div class="flex gap-3 justify-between items-center uppercase">
              <p>Read More </p>
              <i class="fas fa-light fa-arrow-right  text-xs"></i>
            </div>
          </app-button3d> -->
        </div>
      </div>
    </div>
  </div>

</div>
 <svg class="fill-bgSeco  rotate-180 relative z-30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100">
                <path d="M0 0v99.7C62 69 122.4 48.7 205 66c83.8 17.6 160.5 20.4 240-12 54-22 110-26 173-10a392.2 392.2 0 0 0 222-5c55-17 110.3-36.9 160-27.2V0H0Z" opacity=".5"></path>
                <path d="M0 0v74.7C62 44 122.4 28.7 205 46c83.8 17.6 160.5 25.4 240-7 54-22 110-21 173-5 76.5 19.4 146.5 23.3 222 0 55-17 110.3-31.9 160-22.2V0H0Z"></path>
            </svg>
</div>