<ng-container *ngFor="let content of postContents" class="">
  <app-paint-contents [content]="content"></app-paint-contents>
</ng-container>
<!--
<section class="">
  <app-slider-blog></app-slider-blog>
</section>
<main class="relative bg-bgPrim  z-40" *ngIf="post!=null">
  <div class="max-w-[80rem] mx-auto px-4 md:px-10 py-10  ">
      <section class="py-10  flex  w-full">
        <app-breadcrumbs></app-breadcrumbs>
      </section>
    <section class="grid grid-cols-1 lg:grid-cols-6 gap-10 justify-start items-start "  >
      <section class="flex col-span-4 flex-wrap  justify-start items-start">
        <p class="text_font_marvel text-lg w-full font-normal text-primary uppercase">{{post.name}}</p>
        <p class="text_font_marvel text-lg w-full font-normal text-primary uppercase">{{postContents.length}}</p>
          <div class="w-full h-screen overflow-y-scroll bg-bgTern ng-star-inserted">

          </div>
      </section>
      <section class="flex flex-col col-span-2 flex-wrap lg:sticky lg:top-[62px]">
        <div class="w-full  ">
          <div class="lg:sticky lg:top-[62px]">
            <div class="flex flex-col">
              <div class="">
                <p class="text_font_marvel text-lg  font-normal  text-primary uppercase">Categories</p>
                <div class="flex flex py-5 gap-5" >
                  <button (click)="goToCat(category.id, category.name)" *ngFor="let category of categories" class=" py-2 px-4 rounded-md
                  bg-bgTern/60 hover:opacity-75 group flex items-center gap-5 text-lg font-normal leading-snug tracking-normal antialiased ">
                    <p class="text-textSecondary">
                      {{category.name}}
                    </p>
                  </button>
                </div>
              </div>
              <div class="">
                <p class="text_font_marvel text-lg  font-normal  text-primary uppercase">Popular Content</p>
                <div class="flex flex-col py-5 gap-5">
                  <a *ngFor="let content of post.contents" href="" class="group flex items-center gap-5 text-lg font-semibold leading-snug tracking-normal antialiased ">
                    <i _ngcontent-qxo-c41="" class="
                group-hover:translate-x-2
                fas fa-light fa-arrow-right
                text-lg text-secondary transition-all duration-500 ease-in-out"></i>
                    <p class="text-textPrimary">
                      {{content.name}}
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="grid grid-cols-1 lg:grid-cols-6 gap-20     justify-start items-start "  *ngIf="posts!=null">
      <section class="flex flex-col col-span-4 ">
        <div class="w-96 bg-gray-800 text-white py-10
              section_1_left w-full relative flex flex-col z-20 h-full justify-center">
          <img class="w-16" src="https://cdn.marvel.com/content/1x/mulogo_lob_log_eye_01_1.png" srcset="https://cdn.marvel.com/content/1x/mulogo_lob_log_eye_01_1.png" alt="mulogo_lob_log_eye_01_1" >
          <p class="text-xl lg:text-3xl font-bold text_font_marvel mt-4">Gameplay Revealed</p>
          <p class="text-xl my-6 ">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
          <app-button3d class="w-full sm:w-1/2"
                        [rounded]="'5px'" [title]="''" [bg_front_color]="'linear-gradient(rgb(50 50 50 / 20%),rgb(50 50 50 / 60%)), ' +
                     ' url(https://storage.googleapis.com/www-saludiario-com/wp-content/uploads/2022/08/43bcae33-bigstock-marvel-and-dc-comics-open-com-373641259.jpg)' +
                      ' center/cover'"
                        font_size="22" font_body_weight="900" [height]="'55px'"
                        [bg_back_color]="'#1e1e1e'"
                        [border_style]="'solid #181818 var(--border)'"
                        [width]="'100%'" [raise]="6">
            <div class="flex gap-3 justify-between items-center uppercase">
              <p>Read More </p>
              <i class="fas fa-light fa-arrow-right  text-xs"></i>
            </div>
          </app-button3d>
        </div>
      </section>
      <div class="flex flex-col  col-span-2 ">
        <div class="section_1_right flex relative z-10 w-full h-[560px]" style="background-image: url(https://cdn.marvel.com/content/1x/20221227-newtomu_base_set_dsk.jpg);
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
        </div>
      </div>
    </section>
  </div>
</main>
-->
