<section class="">
  <app-slider-blog></app-slider-blog>
</section>
<main class="relative bg-bgPrim  z-40" *ngIf="post!=null">
  <div class="max-w-[80rem] mx-auto px-4 md:px-10 py-10  ">
    <!--    <section class="py-10  flex  w-full">-->
    <!--      <app-breadcrumbs></app-breadcrumbs>-->
    <!--    </section>-->
<!--    <div class="-ml-10 -mr-10 pl-10 pr-10 my-5-->
<!--    border-textPrimary border-4 border-l-2 border-[3px]-->
<!--     border-info text-info text-warning-->
<!--    w-1/12 w-1/12 w-2/12 w-8/12 pb-5 -mb-8 -ml8 -translate-y-3"></div>-->
    <section class="grid grid-cols-1 lg:grid-cols-6 gap-10 justify-start items-start "  >
      <section class="flex col-span-4 flex-wrap  justify-start items-start">
        <p class="px-5 text_font_marvel text-lg w-full font-normal text-primary uppercase">{{post.name}}</p>
          <div class="flex flex-wrap w-full">
            <ng-container *ngFor="let content of postContents" class="">
<!--              <p>id : {{content.id}}</p>-->
<!--               <ng-container *ngIf="content?.type?.name==='card'">-->
<!--                 <div [class]="getAtt(content, 'styles')">-->
<!--                   <h1 [class]="getAtt(content, 'title_styles')">-->
<!--                     {{getAtt(content, 'title_label')}}-->
<!--                   </h1>-->
<!--                   <h2 class="{{getAtt(content, 'desc_styles')}}-->
<!--                   ">-->
<!--                     {{getAtt(content, 'desc_label')}}-->
<!--                   </h2>-->
<!--                   <div class="flex flex-wrap gap-4 justify-between pt-0 items-center">-->
<!--                     <app-button3d class="flex-1"  [title]="''"-->
<!--                                   [font_color]="'hsl(var(&#45;&#45;twc-primary))'"-->
<!--                                   (click)="goToPost(post.id, post)"-->
<!--                                   border="0" [rounded]="'0px'"-->
<!--                                   [width]="'130px'"-->
<!--                                   [height]="'30px'"-->
<!--                                   [type]="'btn_anchor'"-->
<!--                                   [raise]="5">-->
<!--                       <div class="flex-1 flex-nowrap flex gap-3 justify-start items-center uppercase">-->
<!--                         <p>Read More </p>-->
<!--                         <i class="fas fa-light fa-arrow-right  text-xs"></i>-->
<!--                       </div>-->
<!--                     </app-button3d>-->
<!--                     <p class="text-sm font-medium leading-snug tracking-normal antialiased text-textSecondary">-->
<!--                       {{content?.created_at| date:'dd/MM/yyyy' }}-->
<!--                     </p>-->
<!--                   </div>-->
<!--&lt;!&ndash;                   <div class="w-full md:w-1/3" *ngIf="content?.images.length>0">&ndash;&gt;-->
<!--&lt;!&ndash;                     <div class="relative m-0 h-full w-full shrink-0 overflow-hidden rounded-sm rounded-r-none">&ndash;&gt;-->
<!--&lt;!&ndash;                       <img&ndash;&gt;-->
<!--&lt;!&ndash;                         [src]="environment.apiUrl+'storage/blog/posts/'+post.id+'/'+content.id+'/'+content.images[0].name"&ndash;&gt;-->
<!--&lt;!&ndash;                         alt="image"&ndash;&gt;-->
<!--&lt;!&ndash;                         class="rounded-xl border-solid border-8 border-neutral-900 h-full w-full object-cover"&ndash;&gt;-->
<!--&lt;!&ndash;                       />&ndash;&gt;-->
<!--&lt;!&ndash;                     </div>&ndash;&gt;-->
<!--&lt;!&ndash;                   </div>&ndash;&gt;-->
<!--                 </div>-->
<!--               </ng-container>-->
<!--               <div class="w-full" *ngIf="content?.type?.name==='grid'">-->
                   <app-paint-contents [content]="content"></app-paint-contents>
<!--               </div>-->
<!--              <ng-container *ngIf="content?.type?.name==='icon_header'" >-->
<!--                  <div class="{{getAtt(content, 'styles')}}">-->
<!--                    <div class="{{getAtt(content, 'icon_header_styles')}}">-->
<!--                      i-->
<!--                    </div>-->
<!--                  </div>-->
<!--              </ng-container>-->
<!--              <ng-container *ngIf="content?.type?.name==='text'">-->
<!--                <div class="{{getAtt(content, 'styles')}} ">-->
<!--                  <p class="{{getAtt(content, 'text_styles')}}">-->
<!--                    {{getAtt(content, 'text_label')}}-->
<!--                  </p>-->
<!--                </div>-->
<!--              </ng-container>-->
<!--              <ng-container *ngIf="content?.type?.name==='img'" class="w-full">-->
<!--                <div class="{{getAtt(content, 'styles')}} ">-->
<!--                  &lt;!&ndash;                    [src]="environment.apiUrl+'storage/blog/posts/'+post.id+'/'+content.id+'/'+content.images[getAtt(content, 'num')].name"&ndash;&gt;-->
<!--                  <img-->
<!--                    src="https://www.joshwcomeau.com/_next/image/?url=%2Fimages%2Fdata-binding%2Fdata-binding-sketch.png%3Fv%3D3&w=1920&q=75"-->
<!--                    alt="image"-->
<!--                    class="{{getAtt(content, 'img_styles')}}"-->
<!--                  />-->
<!--                </div>-->
<!--              </ng-container>-->
<!--              <ng-container *ngIf="content?.type?.name==='codeplayground_v2'" class="w-full">-->
<!--                <app-codeplayground_V2 class="flex w-full my-5"-->
<!--                                       [id]="0"-->
<!--                                       [height]="getAtt(content, 'height')"-->
<!--                                       [bg_color_1]="getAtt(content, 'bg_color_1')"-->
<!--                                       [bg_color_2]="getAtt(content, 'bg_color_2')"-->
<!--                                       [text_color_1]="getAtt(content, 'text_color_1')"-->
<!--                                       [text_color_2]="getAtt(content, 'text_color_2')"-->
<!--                                       [rounded]="getAtt(content, 'rounded')"-->
<!--                                       [htmlCodes]="getAtt(content, 'html')"-->
<!--                                       [cssCodes]="getAtt(content, 'css')"-->
<!--                                       [jsCodes]="getAtt(content, 'js')"-->
<!--                ></app-codeplayground_V2>-->
<!--              </ng-container>-->
            </ng-container>

          </div>
<!--        <app-codeplayground class="flex w-full" [id]="0" [htmlCodes]="htmlCodes[0]" [cssCodes]="cssCodes[0]" [jsCodes]="jsCodes[0]"></app-codeplayground>-->


<!--        <div class="flex flex-wrap justify-center items-center">-->
<!--          <app-card *ngFor="let content of postContents"-->
<!--                     [type]="getAtt(content, 'type')"-->
<!--                     [bg_color]="''"-->
<!--                     class="-->
<!--                    {{getAtt(content, 'width')}}-->
<!--                    {{getAtt(content, 'padding')}}-->
<!--                    {{getAtt(content, 'styles')}}-->
<!--                     flex-wrap ">-->
<!--            <div class=" w-full flex-nowrap flex flex-col flex-col-reverse md:flex-row md:flex-row-reverse">-->
<!--              <div class="flex-nowrap md:pt-0 pr-0 "-->
<!--                   [ngClass]="{'w-2/3  md:pl-10 pt-10':content?.images.length>0,'w-full ':content?.images.length<1}">-->
<!--                <h6 class="text_font_marvel text-lg font-semibold  text-textPrimary">-->
<!--                  {{content.name}}-->
<!--                </h6>-->
<!--                &lt;!&ndash;                <h4 class="text-sm font-medium leading-snug tracking-normal antialiased text-textSecondary">&ndash;&gt;-->
<!--                &lt;!&ndash;                  {{content.subname}}&ndash;&gt;-->
<!--                &lt;!&ndash;                </h4>&ndash;&gt;-->
<!--                <div class="py-6">-->
<!--                  <p class="text-base font-normal leading-relaxed text-inherit antialiased text-textPrimary">-->
<!--                    {{content.desc}}-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="flex flex-wrap gap-4 justify-between pt-0 items-center">-->
<!--                  <app-button3d class="flex-1"  [title]="''"-->
<!--                                [font_color]="'hsl(var(&#45;&#45;twc-primary))'"-->
<!--                                (click)="goToPost(post.id, post)"-->
<!--                                border="0" [rounded]="'0px'"-->
<!--                                [width]="'130px'"-->
<!--                                [height]="'30px'"-->
<!--                                [type]="'btn_anchor'"-->
<!--                                [raise]="5">-->
<!--                    <div class="flex-1 flex-nowrap flex gap-3 justify-start items-center uppercase">-->
<!--                      <p>Read More </p>-->
<!--                      <i class="fas fa-light fa-arrow-right  text-xs"></i>-->
<!--                    </div>-->
<!--                  </app-button3d>-->
<!--                  <p class="text-sm font-medium leading-snug tracking-normal antialiased text-textSecondary">-->
<!--                    {{content?.created_at| date:'dd/MM/yyyy' }}-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--&lt;!&ndash;              <div class="w-full md:w-1/3" *ngIf="content?.images.length>0">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="relative m-0 h-full w-full shrink-0 overflow-hidden rounded-sm rounded-r-none">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img&ndash;&gt;-->
<!--&lt;!&ndash;                    [src]="environment.apiUrl+'storage/blog/posts/'+post.id+'/'+content.id+'/'+content.images[0].name"&ndash;&gt;-->
<!--&lt;!&ndash;                    alt="image"&ndash;&gt;-->
<!--&lt;!&ndash;                    class="rounded-xl border-solid border-8 border-neutral-900 h-full w-full object-cover"&ndash;&gt;-->
<!--&lt;!&ndash;                  />&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--          </app-card>-->
<!--          <div class="w-full md:w-1/2 lg:w-1/4  ">-->
<!--            <div class="border h-12 text-sm text-grey-dark flex items-center justify-center">-->
<!--              <p>full / half / quarter</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="w-full">-->
<!--            <div class="border h-12 text-sm text-grey-dark flex items-center justify-center">-->
<!--              <p>full / half</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


<!--        <ng-container class="" *ngFor="let content of postContents" >-->

<!--          <ng-container class=""  *ngIf="content.type.name==='card'">-->
<!--            <app-card  [type]="getAtt(content, 'type')"-->
<!--                       [bg_color]="getAtt(content, 'bg_color')"-->
<!--                       class="{{getAtt(content, 'width')}} flex-wrap ">-->
<!--              <div class="w-full flex-nowrap flex flex-col flex-col-reverse md:flex-row md:flex-row-reverse">-->
<!--                <div class=" flex-nowrap md:pt-0 pr-0 "-->
<!--                     [ngClass]="{'w-2/3  md:pl-10 pt-10':content?.images.length>0,'w-full ':content?.images.length<1}">-->
<!--                  <h6 class="text_font_marvel text-lg font-semibold  text-textPrimary">-->
<!--                    {{content.name}}-->
<!--                  </h6>-->
<!--                  &lt;!&ndash;                <h4 class="text-sm font-medium leading-snug tracking-normal antialiased text-textSecondary">&ndash;&gt;-->
<!--                  &lt;!&ndash;                  {{content.subname}}&ndash;&gt;-->
<!--                  &lt;!&ndash;                </h4>&ndash;&gt;-->
<!--                  <div class="py-6">-->
<!--                    <p class="text-base font-normal leading-relaxed text-inherit antialiased text-textPrimary">-->
<!--                      {{content.desc}}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                  <div class="flex flex-wrap gap-4 justify-between pt-0 items-center">-->
<!--                    <app-button3d class="flex-1"  [title]="''"-->
<!--                                  [font_color]="'hsl(var(&#45;&#45;twc-primary))'"-->
<!--                                  (click)="goToPost(post.id, post)"-->
<!--                                  border="0" [rounded]="'0px'"-->
<!--                                  [width]="'130px'"-->
<!--                                  [height]="'30px'"-->
<!--                                  [type]="'btn_anchor'"-->
<!--                                  [raise]="5">-->
<!--                      <div class="flex-1 flex-nowrap flex gap-3 justify-start items-center uppercase">-->
<!--                        <p>Read More </p>-->
<!--                        <i class="fas fa-light fa-arrow-right  text-xs"></i>-->
<!--                      </div>-->
<!--                    </app-button3d>-->
<!--                    <p class="text-sm font-medium leading-snug tracking-normal antialiased text-textSecondary">-->
<!--                      {{content?.created_at| date:'dd/MM/yyyy' }}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="w-full md:w-1/3" *ngIf="content?.images.length>0">-->
<!--                  <div class="relative m-0 h-full w-full shrink-0 overflow-hidden rounded-sm rounded-r-none">-->
<!--                    <img-->
<!--                      [src]="environment.apiUrl+'storage/blog/posts/'+post.id+'/'+content.id+'/'+content.images[0].name"-->
<!--                      alt="image"-->
<!--                      class="rounded-xl border-solid border-8 border-neutral-900 h-full w-full object-cover"-->
<!--                    />-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </app-card>-->
<!--          </ng-container>-->
<!--        </ng-container>-->
      </section>
      <section class="flex flex-col col-span-2 flex-wrap lg:sticky lg:top-[62px]">
        <div class="w-full  ">
          <div class="lg:sticky lg:top-[62px]">
            <div class="flex flex-col">
              <div class="">
                <p class="text_font_marvel text-lg  font-normal  text-primary uppercase">Categories</p>
                <div class="flex flex py-5 gap-5" >
                  <button (click)="goToCat(category.id, category.name)" *ngFor="let category of categories" class=" py-2 px-4 rounded-md
                  bg-bgTern/60 hover:opacity-75 group flex items-center gap-5 text-lg font-normal leading-snug tracking-normal antialiased ">
                    <p class="text-textSecondary">
                      {{category.name}}
                    </p>
                  </button>
                </div>
              </div>
              <div class="">
                <p class="text_font_marvel text-lg  font-normal  text-primary uppercase">Popular Content</p>
                <div class="flex flex-col py-5 gap-5">
                  <a *ngFor="let content of post.contents" href="" class="group flex items-center gap-5 text-lg font-semibold leading-snug tracking-normal antialiased ">
                    <i _ngcontent-qxo-c41="" class="
                group-hover:translate-x-2
                fas fa-light fa-arrow-right
                text-lg text-secondary transition-all duration-500 ease-in-out"></i>
                    <p class="text-textPrimary">
                      {{content.name}}
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="grid grid-cols-1 lg:grid-cols-6 gap-20     justify-start items-start "  *ngIf="posts!=null">
      <section class="flex flex-col col-span-4 ">
        <div class="w-96 bg-gray-800 text-white py-10
              section_1_left w-full relative flex flex-col z-20 h-full justify-center">
          <img class="w-16" src="https://cdn.marvel.com/content/1x/mulogo_lob_log_eye_01_1.png" srcset="https://cdn.marvel.com/content/1x/mulogo_lob_log_eye_01_1.png" alt="mulogo_lob_log_eye_01_1" >
          <p class="text-xl lg:text-3xl font-bold text_font_marvel mt-4">Gameplay Revealed</p>
          <p class="text-xl my-6 ">Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
          <app-button3d class="w-full sm:w-1/2"
                        [rounded]="'5px'" [title]="''" [bg_front_color]="'linear-gradient(rgb(50 50 50 / 20%),rgb(50 50 50 / 60%)), ' +
                     ' url(https://storage.googleapis.com/www-saludiario-com/wp-content/uploads/2022/08/43bcae33-bigstock-marvel-and-dc-comics-open-com-373641259.jpg)' +
                      ' center/cover'"
                        font_size="22" font_body_weight="900" [height]="'55px'"
                        [bg_back_color]="'#1e1e1e'"
                        [border_style]="'solid #181818 var(--border)'"
                        [width]="'100%'" [raise]="6">
            <div class="flex gap-3 justify-between items-center uppercase">
              <p>Read More </p>
              <i class="fas fa-light fa-arrow-right  text-xs"></i>
            </div>
          </app-button3d>
        </div>
      </section>
      <div class="flex flex-col  col-span-2 ">
        <div class="section_1_right flex relative z-10 w-full h-[560px]" style="background-image: url(https://cdn.marvel.com/content/1x/20221227-newtomu_base_set_dsk.jpg);
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
        </div>
      </div>
    </section>
  </div>
</main>
