<div class="flex flex-col gap-2 max-w-6xl mx-auto px-10">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="mt-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-textPrimary text-2xl">Create post</h3>
    </div>
  </div>
  <div class="w-full">
    <div class="">
      <div class="flex flex-wrap rounded-lg  justify-start ">
        <app-card class="w-1/2">
          <ng-template #headerTemplate >
            <div class="">
              <h5 class="text-xl font-semibold leading-snug tracking-normal text-textPrimary antialiased">
                New post
              </h5>
            </div>
          </ng-template>
          <div class="py-6 flex flex-wrap">
            <form  [formGroup]="form" class="flex flex-col gap-4 flex-wrap w-full">
              <app-input-outsite [label]="'Name'" [formGroupParent]="form.get(['post'])" [formGroupControlName]="'name'"></app-input-outsite>
              <app-input-outsite [label]="'SubName'" [formGroupParent]="form.get(['post'])" [formGroupControlName]="'subname'" [value]="form.get(['post'])?.value?.subname"></app-input-outsite>
              <app-input-outsite [label]="'Desc'" [formGroupParent]="form.get(['post'])" [formGroupControlName]="'desc'"></app-input-outsite>
              <!--              <app-input-outsite [formGroupParent]="form.get(['post'])" [formGroupControlName]="'category'"></app-input-outsite>-->
              <app-select-outside [label]="'Categories'" [items]="categories" [formGroupParent]="form.get(['post'])" [formGroupControlName]="'category'" [value]="form.get(['post'])?.value?.category"></app-select-outside>
              <input class="text-textPrimary flex flex-wrap" style="width: inherit;" type="file" multiple (change)="onFileChange($event)">
            </form>
          </div>
          <ng-template #footerTemplate >
            <div class="flex justify-end items-center gap-2 flex-wrap">
              <!--            <app-button3d [width]="'120px'" [type]="'btn_disabled'"   [height]="'20px'"  [raise]="5"></app-button3d>-->
              <!--            <app-button3d [width]="'120px'" [type]="'btn_primary'"  [height]="'30px'" [raise]="5"  ></app-button3d>-->
<!--              <app-button3d title="Read More" [height]="'30px'" [type]="'btn_disabled'"  ></app-button3d>-->
              <app-button3d title="Create" (click)="create()" [type]="'btn_primary'" [loading_type]="'waves'" [loading]="loading" ></app-button3d>
            </div>
          </ng-template>
        </app-card>
      </div>
    </div>
  </div>
</div>
