
<div class="flex flex-col  max-w-7xl   w-full mx-auto px-2 pb-20">
  <div class="w-full">
    <div class="flex flex-wrap rounded-lg  justify-start">
        <app-show-content class="w-full p-2 " [post_id]="this.id" (showContentEv)="showContentEv($event)"></app-show-content>

      <app-update-content class="p-2 w-4/12  flex lg:sticky "
                          [postContent]="updateContent"
                          (updatedContent)="updateContentEv($event)"></app-update-content>
          <div class="w-8/12 p-2 flex   " >
              <app-paint-contents [showEditor]="true" *ngIf="paintContent" class="flex flex-col w-full overflow-auto h-full relative"
              [content]="paintContent"
                                  (selectContent)="paintContentEv($event)"></app-paint-contents>
              <div class=" gap-4 flex flex-col" *ngIf="!paintContent">
                <div class=" flex justify-center">
                  <img class="w-20" src="./assets/img/icons/icons8-light-100.png" >
                </div>
                <p class="text-textPrimary border-red-600">Add or create new component </p>
              </div>
        </div>
      </div>
  </div>
</div>
