.grid-background {
  background-color: hsl(var(--twc-bgPrim)); /* Color de fondo */
  background-image:
    repeating-linear-gradient(0deg, hsl(var(--twc-bgTern)) 0, rgba(0, 0, 0, 0.1) 2px, transparent 1px, transparent 50px),
    repeating-linear-gradient(90deg, hsl(var(--twc-bgTern)) 0, rgba(0, 0, 0, 0.1) 2px, transparent 1px, transparent 50px);
  background-position: center;
}
