<div class="hidden md:hidden lg:hidden xl:hidden bg-[#3197d6] text-2xl md:text-5xl xl:text-7xl active:border-gray-400/50
focus:border-gray-400/50 text-textTertiary
grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16
text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter
text-4xl lg:text-5xl font-bold lg:tracking-tight w-[100px]  pt-[162px] inline-grid place-self-center place-items-center	place-content-center
max-w-screen-xl mx-auto px-5 pt-[62px] pt-10 w-1/6 w-[300px] mb-2 h-[500px] whitespace-pre-line
py-6 md:order-1 hidden md:block order-1 order-2 items-start justify-start py-24
text-slate-500 mt-2 leading-relaxed  break-words ml-2 p-24 px-10 max-w-screen-md -ml-6
grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 border-4 border-red-200 w-32 gap-24 space-y-10 w-[50vh] w-[20vh] gap-4 bg-textPrimary text-bgPrim"></div>

<div *ngIf="content && showEditor" [ngClass]="'grid-background flex'" >

  <div [ngClass]="getAtt(content, 'styles') + ' '+ editing()">
    <ng-container *ngFor="let subcomponent of content?.subcomponents; let i = index;" >
      <ng-container *ngTemplateOutlet="recursiveContent4; context: { $implicit: normalizarSubcomponente(subcomponent), index: i   }"></ng-container>
    </ng-container>
    <ng-template #recursiveContent4 let-subcomponent  let-i="index">
      <div (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" class="m-4 "
           (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
           (dragover)="dragOver($event)"
           (drop)="drop2($event, subcomponent.order, subcomponent.component)"
           [ngClass]="getAtt(content, 'styles') + ' '+ editing()"
           draggable="true"
           *ngIf="['grid', 'card', 'page'].includes(subcomponent?.type?.name)"
      >
        <ng-container *ngFor="let subSubcomponent of subcomponent.subcomponents; let subIndex = index;">
          <ng-container *ngTemplateOutlet="recursiveContent4; context: { $implicit: normalizarSubcomponente(subSubcomponent), index: subIndex  }" ></ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="content" (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"  >
        <ng-container *ngIf="subcomponent?.type?.name==='codeplayground_v2'; ">
          <app-codeplayground_V2
            (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
            (dragover)="dragOver($event)"
            (drop)="drop2($event, subcomponent.order, subcomponent.component)"
            [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
            draggable="true"
            (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" class="flex w-full my-5"
                                 [id]="subcomponent.subcomponent_id"
                                 [height]="getAtt(subcomponent, 'height')"
                                 [bg_color_1]="getAtt(subcomponent, 'bg_color_1')"
                                 [bg_color_2]="getAtt(subcomponent, 'bg_color_2')"
                                 [text_color_1]="getAtt(subcomponent, 'text_color_1')"
                                 [text_color_2]="getAtt(subcomponent, 'text_color_2')"
                                 [rounded]="getAtt(subcomponent, 'rounded')"
                                 [htmlCodes]="getAtt(subcomponent, 'html')"
                                 [cssCodes]="getAtt(subcomponent, 'css')"
                                 [jsCodes]="getAtt(subcomponent, 'js')"
          ></app-codeplayground_V2>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='text';">
          <h1 (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
              (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
              (dragover)="dragOver($event)"
              (drop)="drop2($event, subcomponent.order, subcomponent.component)"
              [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
              draggable="true">{{getAtt(subcomponent, 'text_label')}}</h1>
        </ng-container>
        <ng-container *ngIf="content?.type?.name==='icon';">
          <i (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
             (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
             (dragover)="dragOver($event)"
             (drop)="drop2($event, subcomponent.order, subcomponent.component)"
             [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
             draggable="true"></i>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='img';">
          <ng-container>
            <img (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
                 (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
                 (dragover)="dragOver($event)"
                 (drop)="drop2($event, subcomponent.order, subcomponent.component)"
                 [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
                 draggable="true"
                 [src]="getAtt(subcomponent, 'url')"
                 alt="image" />
          </ng-container>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='image3d';">
          <!--TODO change style.background-image-->
          <figure (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
                  (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
                  (dragover)="dragOver($event)"
                  (drop)="drop2($event, subcomponent.order, subcomponent.component)"
                  [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
                  draggable="true"
                  class="figure " >
            <img [src]="getAtt(subcomponent, 'img_url')"
                 alt="image" class="amt_2"/>
            <!--<figcaption class="p-4">Rhino</figcaption>-->
          </figure>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='button';">
          @if (getAtt(subcomponent, 'url')!==null){
          <a (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
          (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
           (dragover)="dragOver($event)"
           (drop)="drop2($event, subcomponent.order, subcomponent.component)"
           [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
           draggable="true"
          href="{{getAtt(subcomponent, 'url')}}" target="_blank">
                <app-button3d
                  [ngClass]="getAtt(subcomponent, 'styles') + '  '"
                  [title]="getAtt(subcomponent, 'label')"
                  [type]="getAtt(subcomponent, 'styles_button') + '  '"
                  [width]="'100%'"
                  [loading_type]="'waves'" [loading]="false" >
                </app-button3d>
              </a>
          } @else {
          <app-button3d
           (dragstart)="dragStart($event, subcomponent.order, subcomponent)"
           (dragover)="dragOver($event)"
           (drop)="drop2($event, subcomponent.order, subcomponent.component)"
           [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
           draggable="true"
           (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"

            [title]="getAtt(subcomponent, 'label')"
            [type]="getAtt(subcomponent, 'styles_button') + '  '+ editing()"
            [width]="'100%'"
            [loading_type]="'waves'" [loading]="false" >
          </app-button3d>
          }
        </ng-container>
      </ng-container>

    </ng-template>
  </div>
</div>



<div *ngIf="content && showEditor" [ngClass]="'w-full  '">
      name:{{content?.name}} - id:{{content?.id}}
        <ng-container *ngFor="let subcomponent of content?.subcomponents" >
          <ng-container *ngTemplateOutlet="recursiveContent3; context: { $implicit: normalizarSubcomponente(subcomponent) }"></ng-container>
        </ng-container>
        <ng-template #recursiveContent3 let-subcomponent>
          <div (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" class="m-4 ">
            {{subcomponent?.name}} - id:{{subcomponent.id}} - order:{{subcomponent.order}}
              <ng-container *ngFor="let subSubcomponent of subcomponent.subcomponents">
                <ng-container *ngTemplateOutlet="recursiveContent3; context: { $implicit: normalizarSubcomponente(subSubcomponent) }" ></ng-container>
              </ng-container>
          </div>
        </ng-template>
</div>




<div *ngIf="content && showEditor" [ngClass]="'w-full  '">
  <div class="flex justify-between py-6 text-textPrimary">
      <h3 class="font-semibold  text-2xl">Layout </h3>
      <i (click)="showTree=!showTree "  class="ml-auto fa fa-book p-2" aria-hidden="true"></i>
  </div>
  <div class="p-1 text-xs bg-bgPrim mb-2 rounded" *ngIf="showTree">
    <div class="m-2" (click)="onClick(content)">
      name:{{content?.name}} - id:{{content?.id}}
      <div class="border-dashed border-l-2 border-red-400 m-2">
        <ng-container *ngFor="let subcomponent of content?.subcomponents" >
          <ng-container *ngTemplateOutlet="recursiveContent2; context: { $implicit: normalizarSubcomponente(subcomponent) }"></ng-container>
        </ng-container>
        <ng-template #recursiveContent2 let-subcomponent>
          <div (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" class="m-4 ">
            {{subcomponent?.name}} - id:{{subcomponent.id}} - order:{{subcomponent.order}}
            <!-- Puedes agregar aquí el contenido específico para los subcomponentes -->
            <div class="border-dashed border-l-2 border-red-400 m-4">
              @if (subcomponent.subcomponents && content.subcomponents.length > 0){
              <ng-container *ngFor="let subSubcomponent of subcomponent.subcomponents">
                <ng-container *ngTemplateOutlet="recursiveContent2; context: { $implicit: normalizarSubcomponente(subSubcomponent) }" ></ng-container>
                    </ng-container>
              }
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div *ngIf="content && showEditor" [ngClass]="'grid-background flex'" >
  <div
    [ngClass]="getAtt(content, 'styles') + ' '+ editing()"
   (click)="onClick(content)" (click)="$event.stopPropagation()"
    cdkDropListOrientation="mixed" cdkDropList (cdkDropListDropped)="drop($event, content)">
    <!--name: {{content?.name}} - id: {{content?.id}}-->
    <ng-container *ngFor="let subcomponent of content?.subcomponents" cdkDrag
         (click)="onClick(normalizarSubcomponente(subcomponent))" (click)="$event.stopPropagation()">
      <ng-container *ngTemplateOutlet="recursiveContent2; context: { $implicit: normalizarSubcomponente(subcomponent) }"></ng-container>
    </ng-container>
  </div>

  <ng-template #recursiveContent2 let-subcomponent>
    <ng-container>
      <!--{{subcomponent?.name}} - id: {{subcomponent.id}} - order: {{subcomponent.order}}-->
      <div cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event, subcomponent)"
            *ngIf="['grid', 'card', 'page'].includes(subcomponent?.type?.name) && false"
             [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
      >
        <div *ngFor="let subSubcomponent of subcomponent.subcomponents"
             cdkDrag
             [ngClass]="getAtt(normalizarSubcomponente(subSubcomponent), 'styles') + ' '+ editing()"
             (click)="onClick(normalizarSubcomponente(subSubcomponent))"
             (click)="$event.stopPropagation()">
          <ng-container *ngTemplateOutlet="recursiveContent2; context: { $implicit: normalizarSubcomponente(subSubcomponent) }"></ng-container>
        </div>
      </div>


      <ng-container *ngIf="false" >
        <div *ngFor="let subSubcomponent of subcomponent.subcomponents"
             [ngClass]="getAtt(normalizarSubcomponente(subSubcomponent), 'styles') + ' ' + editing()"
             (click)="onClick(normalizarSubcomponente(subSubcomponent))"
             (click)="$event.stopPropagation()">
          <ng-container *ngTemplateOutlet="recursiveContent2; context: { $implicit: normalizarSubcomponente(subSubcomponent) }"></ng-container>
        </div>
      </ng-container>

      <ng-container  >
        <ng-container *ngIf="subcomponent?.type?.name==='codeplayground_v2'; ">
          <app-codeplayground_V2 (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" class="flex w-full my-5"
                                 [id]="subcomponent.subcomponent_id"
                                 [height]="getAtt(subcomponent, 'height')"
                                 [bg_color_1]="getAtt(subcomponent, 'bg_color_1')"
                                 [bg_color_2]="getAtt(subcomponent, 'bg_color_2')"
                                 [text_color_1]="getAtt(subcomponent, 'text_color_1')"
                                 [text_color_2]="getAtt(subcomponent, 'text_color_2')"
                                 [rounded]="getAtt(subcomponent, 'rounded')"
                                 [htmlCodes]="getAtt(subcomponent, 'html')"
                                 [cssCodes]="getAtt(subcomponent, 'css')"
                                 [jsCodes]="getAtt(subcomponent, 'js')"
          ></app-codeplayground_V2>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='text';">
          <h1 (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')">{{getAtt(subcomponent, 'text_label')}}</h1>
        </ng-container>
        <ng-container *ngIf="content?.type?.name==='icon';">
          <i (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')"></i>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='img';">
          <ng-container>
            <img (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" [src]="getAtt(subcomponent, 'url')"
                 alt="image" />
          </ng-container>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='image3d';">
          <!--TODO change style.background-image-->
          <figure (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" class="figure " [ngClass]="subcomponent?.type?.name + '-'+ subcomponent.id +' '+ setDynamicBackground(subcomponent)">
            <img [src]="getAtt(subcomponent, 'img_url')"
                 alt="image" class="amt_2"/>
            <!--<figcaption class="p-4">Rhino</figcaption>-->
          </figure>
        </ng-container>
        <ng-container *ngIf="subcomponent?.type?.name==='button';">
          @if (getAtt(subcomponent, 'url')!==null){
          <a (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
          href="{{getAtt(subcomponent, 'url')}}" target="_blank">
                <app-button3d
                  [ngClass]="getAtt(subcomponent, 'styles') + '  '"
                  [title]="getAtt(subcomponent, 'label')"
                  [type]="getAtt(subcomponent, 'styles_button') + '  '"
                  [width]="'100%'"
                  [loading_type]="'waves'" [loading]="false" >
                </app-button3d>
              </a>
          } @else {
          <app-button3d (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
            [ngClass]="getAtt(subcomponent, 'styles_button') + '  '+ editing()"
            [title]="getAtt(subcomponent, 'label')"
            [type]="getAtt(subcomponent, 'styles_button') + '  '+ editing()"
            [width]="'100%'"
            [loading_type]="'waves'" [loading]="false" >
          </app-button3d>
          }
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>

<div *ngIf="content && !showEditor" (click)="onClick(content)"  [ngClass]="getAtt(content, 'styles')">
  <!--
    si agregamos un componente principal al post se ejecuta esto
    tambien si estamos creando un componente
  -->
  <ng-container *ngIf="content?.type?.name==='codeplayground_v2'; ">
    <app-codeplayground_V2 class="flex w-full my-5"
                           [id]="content.id"
                           [height]="getAtt(content, 'height')"
                           [bg_color_1]="getAtt(content, 'bg_color_1')"
                           [bg_color_2]="getAtt(content, 'bg_color_2')"
                           [text_color_1]="getAtt(content, 'text_color_1')"
                           [text_color_2]="getAtt(content, 'text_color_2')"
                           [rounded]="getAtt(content, 'rounded')"
                           [htmlCodes]="getAtt(content, 'html')"
                           [cssCodes]="getAtt(content, 'css')"
                           [jsCodes]="getAtt(content, 'js')" [ngClass]="getAtt(content, 'styles')"
    ></app-codeplayground_V2>
  </ng-container>
  <ng-container *ngIf="content?.type?.name==='text';">
    <h1 [ngClass]="getAtt(content, 'styles')">{{getAtt(content, 'text_label')}}</h1>
  </ng-container>
  <ng-container *ngIf="content?.type?.name==='icon';">
    <i [class]="getAtt(content, 'icon')+' '+ getAtt(content, 'style')"></i>
  </ng-container>
  <ng-container *ngIf="content?.type?.name==='img';">
    <ng-container *ngIf="getAtt(content, 'url')!=null">
      <img [src]="getAtt(content, 'url')" [ngClass]="getAtt(content, 'styles')"
           alt="image"/>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="content?.type?.name==='image3d';">
    <!--TODO change style.background-image-->
    <figure [ngClass]="getAtt(content, 'styles')"
            class="figure " [ngClass]="content?.type?.name + '-'+ content.id +' '+ setDynamicBackground(content)">
      <img [src]="getAtt(content, 'img_url')"
           alt="image" class="amt_2"/>
      <!--<figcaption class="p-4">Rhino</figcaption>-->
    </figure>
  </ng-container>
  <ng-container *ngIf="content?.type?.name==='button';">
    @if (getAtt(content, 'url')!==null){
    <a [ngClass]="getAtt(content, 'styles')" href="{{getAtt(content, 'url')}}" target="_blank">
            <app-button3d
              [ngClass]="getAtt(content, 'styles_button') + '  '+ editing()"
              [title]="getAtt(content, 'label')"
              [type]="getAtt(content, 'styles_button') + '  '+ editing()"
              [width]="'100%'"
              [loading_type]="'waves'" [loading]="false" >
            </app-button3d>
          </a>
    } @else {
    <app-button3d
      [ngClass]="getAtt(content, 'styles_button') + '  '+ editing()"
      [title]="getAtt(content, 'label')"
      [type]="getAtt(content, 'styles_button') + '  '+ editing()"
      [width]="'100%'"
      [loading_type]="'waves'" [loading]="false" >
    </app-button3d>
    }
  </ng-container>
  <ng-container *ngFor="let subcomponent of content.subcomponents">
    <ng-container *ngTemplateOutlet="recursiveContent; context: { $implicit: normalizarSubcomponente(subcomponent) }"></ng-container>
  </ng-container>
  <ng-template #recursiveContent let-subcomponent>
    <div (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" *ngIf="
    subcomponent?.type?.name==='grid' ||
    subcomponent?.type?.name==='card' ||
    subcomponent?.type?.name==='page'
    ;" [ngClass]="getAtt(subcomponent, 'styles')">
      <ng-container *ngIf="subcomponent.subcomponents && subcomponent.subcomponents.length > 0">
        <ng-container *ngFor="let subSubcomponent of subcomponent.subcomponents">
          <ng-container *ngTemplateOutlet="recursiveContent; context: { $implicit: normalizarSubcomponente(subSubcomponent) }" ></ng-container>
        </ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="content" (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"  >
      <ng-container *ngIf="subcomponent?.type?.name==='codeplayground_v2'; ">
        <app-codeplayground_V2 (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" class="flex w-full my-5"
                               [id]="subcomponent.subcomponent_id"
                               [height]="getAtt(subcomponent, 'height')"
                               [bg_color_1]="getAtt(subcomponent, 'bg_color_1')"
                               [bg_color_2]="getAtt(subcomponent, 'bg_color_2')"
                               [text_color_1]="getAtt(subcomponent, 'text_color_1')"
                               [text_color_2]="getAtt(subcomponent, 'text_color_2')"
                               [rounded]="getAtt(subcomponent, 'rounded')"
                               [htmlCodes]="getAtt(subcomponent, 'html')"
                               [cssCodes]="getAtt(subcomponent, 'css')"
                               [jsCodes]="getAtt(subcomponent, 'js')"
        ></app-codeplayground_V2>
      </ng-container>
      <ng-container *ngIf="subcomponent?.type?.name==='text';">
        <h1 (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')">{{getAtt(subcomponent, 'text_label')}}</h1>
      </ng-container>
      <ng-container *ngIf="content?.type?.name==='icon';">
        <i (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')"></i>
      </ng-container>
      <ng-container *ngIf="subcomponent?.type?.name==='img';">
        <ng-container>
          <img (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" [src]="getAtt(subcomponent, 'url')"
               alt="image" />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="subcomponent?.type?.name==='image3d';">
        <!--TODO change style.background-image-->
        <figure (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles')" class="figure " [ngClass]="subcomponent?.type?.name + '-'+ subcomponent.id +' '+ setDynamicBackground(subcomponent)">
          <img [src]="getAtt(subcomponent, 'img_url')"
               alt="image" class="amt_2"/>
          <!--<figcaption class="p-4">Rhino</figcaption>-->
        </figure>
      </ng-container>
      <ng-container *ngIf="subcomponent?.type?.name==='button';">
        @if (getAtt(subcomponent, 'url')!==null){
        <a (click)="onClick(subcomponent)" (click)="$event.stopPropagation()" [ngClass]="getAtt(subcomponent, 'styles') + ' '+ editing()"
        href="{{getAtt(subcomponent, 'url')}}" target="_blank">
                <app-button3d
                  [ngClass]="getAtt(subcomponent, 'styles') + '  '"
                  [title]="getAtt(subcomponent, 'label')"
                  [type]="getAtt(subcomponent, 'styles_button') + '  '"
                  [width]="'100%'"
                  [loading_type]="'waves'" [loading]="false" >
                </app-button3d>
              </a>
        } @else {
        <app-button3d (click)="onClick(subcomponent)" (click)="$event.stopPropagation()"
          [ngClass]="getAtt(subcomponent, 'styles_button') + '  '+ editing()"
          [title]="getAtt(subcomponent, 'label')"
          [type]="getAtt(subcomponent, 'styles_button') + '  '+ editing()"
          [width]="'100%'"
          [loading_type]="'waves'" [loading]="false" >
        </app-button3d>
        }
      </ng-container>
    </ng-container>
  </ng-template>
</div>
