<div [ngClass]="{'theme-light': !isDarkEnable, 'theme-dark': isDarkEnable}" class="transition-colors duration-500 ">
  <app-navbar-auth
    [transparent]="false"
  ></app-navbar-auth>
  <div [ngClass]="{'theme-light': !isDarkEnable, 'theme-dark': isDarkEnable }" class="relative">
    <!--<app-admin-navbar></app-admin-navbar>
    <app-header-stats></app-header-stats>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">-->
    <div class="flex flex-col">
      <!-- Sidebar TODO change to componente -->
      <app-sidebar-auth class="bg-bgPrim"></app-sidebar-auth>

      <!-- Main -->
      <!--      <div class="flex-grow py-16 bg-[conic-gradient(at_bottom_right,_var(&#45;&#45;tw-gradient-stops))] from-bgPrim via-bgTern to-bgPrim duration-500 transition-all ease-in-out"-->
      <div class="bg-bgSeco  duration-500 transition-all ease-in-out"
      >
        <router-outlet></router-outlet>
      </div>
      <app-footer-auth [ngClass]="{'pl-64': sidebarOpen, 'pl-0 sm:pl-20': !sidebarOpen}"
                       class="w-full z-50 fixed py-2 bg-bgPrim bottom-0 overflow-hidden duration-500 transition-all ease-in-out"></app-footer-auth>
    </div>
  </div>
</div>
