<div class="mx-auto px-2 py-4 sm:px-8 lg:container ">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-textPrimary">Buttons</h3>
    </div>
  </div>
  <div class="w-full">
    <div class="flex flex-col py-2 space-y-14 gap-10">
      <app-codeplayground [id]="0" [htmlCodes]="htmlCodes[0]" [cssCodes]="cssCodes[0]" [jsCodes]="jsCodes[0]"></app-codeplayground>
      <app-codeplayground [id]="1" [htmlCodes]="htmlCodes[1]" [cssCodes]="cssCodes[1]" [jsCodes]="jsCodes[1]"></app-codeplayground>
      <app-codeplayground [id]="2" [htmlCodes]="htmlCodes[2]" [cssCodes]="cssCodes[2]" [jsCodes]="jsCodes[2]"></app-codeplayground>
      <app-codeplayground [id]="3" [htmlCodes]="htmlCodes[3]" [cssCodes]="cssCodes[3]" [jsCodes]="jsCodes[3]"></app-codeplayground>
      <app-codeplayground [id]="4" [htmlCodes]="htmlCodes[4]" [cssCodes]="cssCodes[4]" [jsCodes]="jsCodes[4]"></app-codeplayground>
      <app-codeplayground [id]="5" [htmlCodes]="htmlCodes[5]" [cssCodes]="cssCodes[5]" [jsCodes]="jsCodes[5]"></app-codeplayground>
      <app-codeplayground  [id]="6" [htmlCodes]="htmlCodes[6]" [cssCodes]="cssCodes[6]" [jsCodes]="jsCodes[6]"></app-codeplayground>
      <app-codeplayground  [id]="7" [htmlCodes]="htmlCodes[7]" [cssCodes]="cssCodes[7]" [jsCodes]="jsCodes[7]"></app-codeplayground>
      <app-codeplayground  [id]="8" [htmlCodes]="htmlCodes[8]" [cssCodes]="cssCodes[8]" [jsCodes]="jsCodes[8]"></app-codeplayground>
      <app-codeplayground  [id]="9" [htmlCodes]="htmlCodes[9]" [cssCodes]="cssCodes[9]" [jsCodes]="jsCodes[9]"></app-codeplayground>
    </div>
  </div>

</div>
