<table width="560" border="0" align="center" cellpadding="0" cellspacing="0" class="m_1521594865659898125resize95" style="width:560px">
  <tbody>
  <tr>
    <td height="20" style="font-size:1px;line-height:0"></td>
  </tr>

  <tr>
    <td align="left" style="padding:0px">
      <a href="https://paletudo.com" target="_blank" data-saferedirecturl="https://paletudo.com"><img src="https://paletudo.com/assets/img/paletudo/image_yellow.png" width="80" alt="paletudo" style="display:block;border:0" class="CToWUd" data-bit="iit" /></a>
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:1px;line-height:0"></td>
  </tr>

  <tr>
    <td align="left" class="m_1521594865659898125font26" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:31px;line-height:36px;color:#202020;text-transform:normal;padding:0px" valign="middle">(Title) Actualización de las Condiciones de servicio y Políticas de privacidad</td>
  </tr>

  <tr>
    <td height="30" style="font-size:1px;line-height:0"></td>
  </tr>
  </tbody>
</table>

<table width="560" border="0" align="center" cellpadding="0" cellspacing="0" class="m_1521594865659898125resize95" style="width:560px">
  <tbody>
  <tr>
    <td align="left" bgcolor="#ffffff" style="background-color:#ffffff;font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:24px;color:#4a4a4a;padding:0px;text-align:left">
      (description) : Desde <span class="il">Paletudo</span> queremos informarte de que hemos actualizado y mejorado nuestras Políticas de Privacidad, con el objetivo de ser más claros y transparentes en nuestros términos.<br /><br />
      <b>(text bold) Política de Privacidad</b>:<br /><br />
      • item 1
      <br />
      • item 2
    </td>
  </tr>
  <tr>
    <td height="30" style="font-size:1px;line-height:0"></td>
  </tr>

  <tr>
    <td height="30" style="font-size:1px;line-height:0"></td>
  </tr>
  <tr>
    <td align="center">
      <table width="560" border="0" align="center" cellpadding="0" cellspacing="0" class="m_1521594865659898125resize95" style="width:560px">
        <tbody>
        <tr>
          <td align="left" bgcolor="#ffffff" style="background-color:#ffffff;font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:24px;color:#4a4a4a;padding:0px;text-align:left">Gracias por confiar en <span class="il">LEROY</span> MERLIN.</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" bgcolor="#ffffff">
      <div style="width:100%!important;max-width:600px!important">
        <table bgcolor="#ffffff" width="600" border="0" cellspacing="0" cellpadding="0" style="width:100%!important;max-width:600px!important">
          <tbody>
          <tr>
            <td align="left" bgcolor="#ffffff" height="20">&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" bgcolor="#f5c848">
      <div style="width:100%!important;max-width:600px!important">
        <table width="600" cellspacing="0" cellpadding="0" border="0" style="width:100%!important;max-width:600px!important;background-color:#f5c848">
          <tbody>
          <tr>
            <td align="center" style="padding-top:5px;padding-bottom:5px">
              <table width="66%" height="" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td width="20%" align="center" valign="middle">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      <tr>
                        <td align="center" style="color:#fff;border-right:1px solid #fff"><a href="http://l.correo.leroymerlin.es/rts/go2.aspx?h=874630&amp;tp=i-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO&amp;x=514762579%7c7177260401%7c68258%7c1532802524" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:12px;color:#ffffff;line-height:20px;padding-top:12px;padding-bottom:5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://l.correo.leroymerlin.es/rts/go2.aspx?h%3D874630%26tp%3Di-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO%26x%3D514762579%257c7177260401%257c68258%257c1532802524&amp;source=gmail&amp;ust=1709237953886000&amp;usg=AOvVaw1gIGA7PqKx2HZcx2yV75le">Aviso legal</a></td>
                      </tr>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="36%" align="center" valign="middle">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      <tr>
                        <td align="center" style="color:#fff;border-right:1px solid #fff"><a href="http://l.correo.leroymerlin.es/rts/go2.aspx?h=874631&amp;tp=i-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO&amp;x=514762579%7c7177260401%7c68258%7c1532802524" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:12px;color:#ffffff;line-height:20px;padding-top:12px;padding-bottom:5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://l.correo.leroymerlin.es/rts/go2.aspx?h%3D874631%26tp%3Di-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO%26x%3D514762579%257c7177260401%257c68258%257c1532802524&amp;source=gmail&amp;ust=1709237953886000&amp;usg=AOvVaw2IdjFq99auXU8IVAl0iR8_">Política de privacidad</a></td>
                      </tr>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="43%" align="center" valign="middle">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      <tr>
                        <td align="center" style="color:#fff"><a href="http://l.correo.leroymerlin.es/rts/go2.aspx?h=874632&amp;tp=i-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO&amp;x=514762579%7c7177260401%7c68258%7c1532802524" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:12px;color:#ffffff;line-height:20px;padding-top:12px;padding-bottom:5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://l.correo.leroymerlin.es/rts/go2.aspx?h%3D874632%26tp%3Di-1NGB-8E-Hkw-1fjTxM-1t-1omyoP-1c-1aHY0v-l7GC0jpQZx-1Ak7ZO%26x%3D514762579%257c7177260401%257c68258%257c1532802524&amp;source=gmail&amp;ust=1709237953886000&amp;usg=AOvVaw1lGrwk4_-sqA36EMZXVZrp">Comunicado de seguridad</a></td>
                      </tr>
                      <tr>
                        <td height="5px"></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f5c848">
      <div style="width:100%!important;max-width:600px!important">
        <table width="600" cellspacing="0" cellpadding="0" border="0" style="width:100%!important;max-width:600px!important;background-color:#f5c848">
          <tbody>

          <tr>
            <td align="center" height="" valign="top" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-weight:normal;font-size:12px;color:#ffffff;line-height:20px;padding-top:0px;padding-bottom:10px">© <span class="il">Paletudo</span> S.L. 2024</td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>

