*{
  --color-primary: #ddd;
  --color-secondary: #333;
  --color-accent: #b4cd02; 
  --color-accent-rgb: 213, 255, 0;
  --background-color: #141800;
  --background-twitch: var(--color-twitch-ice);
  --color-twitch: #9146ff;
  --color-twitch-ice: #f0f0ff;
}
.body {
  font-family: Jost Variable,system-ui,sans-serif
}

div[data-astro-cid-kx3qousz] {
background: url(https://cdn.lavelada.dev/effects/background.webp) 0 0/cover;
}

div[data-astro-cid-n73wogva]:before {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: .2;
  content: "";
   background-repeat: repeat;
  background-size: 182px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
}

.gridBottomBarContainer[data-astro-cid-3ef6ksr2] {
  grid-template-rows: 4px;
  grid-template-columns: 1fr 6rem 1fr;
}
.gridBottomBarContainerLineLeft[data-astro-cid-3ef6ksr2] {
  background: linear-gradient(90deg, #0000 3%, #fff 35% 100%);
}
.gridBottomBarContainerLineRight[data-astro-cid-3ef6ksr2] {
  background: linear-gradient(270deg, #0000 3%, #fff 35% 100%);
}

.company-link[data-astro-cid-ey7maxor] {
  background: linear-gradient(#ffffff1a 0%, #0000 100%);
  transition: all .5s;
}
.company-link[data-astro-cid-ey7maxor]:before {
  content: "";
  opacity: 0;
  background: linear-gradient(#fff3 0%, #0000);
  height: 50%;
  transition: opacity .2s ease-in-out, height .2s ease-in-out;
  display: block;
  position: absolute;
  inset: 0;
}


video {
  contain: content;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  border: 2px solid var(--color-accent);
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: auto;
  transition: all .3s;
  display: block;
  position: relative;
  box-shadow: 0 0 15px #d4ff001a;
}
iframe {
  contain: content;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  border: 2px solid var(--color-accent);
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: auto;
  transition: all .3s;
  display: block;
  position: relative;
  box-shadow: 0 0 15px #d4ff001a;
}

@font-face {
  font-family: 'Atomic';
  src: url('https://cdn.lavelada.dev/fonts/font-atomic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-atomic {
  font-family: 'Atomic', sans-serif;
}

.text-accent {
  color: var(--color-accent);
}

.boxers-lists[data-astro-cid-to6mjbfi] {
  scrollbar-width: none;
}
@media (width >= 768px) {
  .boxers-lists[data-astro-cid-to6mjbfi] {
      overflow: hidden;
  }
}

.boxers-lists[data-astro-cid-to6mjbfi] {
  width: 100vw;
  position: relative;
  overflow-x: scroll;
}

@media (width >= 768px) {
  .boxer-link[data-astro-cid-suog3qze] {
      width: 7rem;
      height: 7rem;
  }
}

.boxer-link[data-astro-cid-suog3qze] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  display: flex;
  position: relative;
}

.boxer-link-background[data-astro-cid-suog3qze] {
  opacity: .25;
  background: linear-gradient(#fff 0%, #ffffff80 30%, #0000 95%);
  width: 100%;
  height: 60%;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  display: block;
  position: absolute;
  bottom: 0;
}

.boxer-link[data-astro-cid-suog3qze] .boxer-image[data-astro-cid-suog3qze] {
  z-index: 20;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  filter: grayscale();
  width: 100%;
  height: 100%;
  transition: filter .3s;
  mask-image: linear-gradient(#000 85%, #0000 100%);
}
img, video {
  max-width: 100%;
  height: auto;
}

@media (width >= 768px) {
  .md\:text-7xl {
      font-size: 4.5rem;
      line-height: 1;
  }
}

.mask-flag[data-astro-cid-46y7hi3s] {
  -webkit-mask-composite: source-in;
  mask-image: url(https://cdn.lavelada.dev/flags/maskflag.webp);
  mask-position: 50%;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-clip: content-box;
  mask-origin: content-box;
  mask-composite: source-in;
  mask-mode: alpha;
}

.accent-drop-shadow[data-astro-cid-3ef6ksr2] {
  filter: drop-shadow(0px 0px 25px rgba(var(--color-accent-rgb), .25));
}



/* * {
margin: 0;
padding: 0;
outline: 0;
} */
/* html, body {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; */
/*   background: #000; */
#smoke-container {
width: 100%;
height: 100%;
position: fixed;
}
canvas {
display: block;
width: 100%;
height: 100%;
}

.slide_horizontal::-webkit-scrollbar {
  height: 4px; /* Ancho de la barra de desplazamiento */
  scroll-behavior: smooth; /* Agrega suavidad al desplazamiento */
}