<ng-container *ngIf="htmlCodes && !cssCodes && !jsCodes && !show_iframe">
  <!-- Mostrar algo si solo hay htmlCodes -->
    <div class="flex flex-col w-full overflow-hidden">
    <div class="ml-10 w-min rounded-{{rounded}} {{bg_color_1}} -mb-2">
      <div class=" flex items-start p-2 px-6">
        <div class="flex justify-between mb-2">
          <p [class]="windowsCode === 'css' ? text_color_1 : text_color_2" (click)="windowsCode='css'">Html</p>
        </div>
      </div>
    </div>
    <div  class=" flex flex-wrap rounded-{{rounded}} {{height}}  w-full {{bg_color_1}} ">
      <div  class="flex  h-full w-full">
        <div  class=" w-full p-2 pr-0 " >
          <ngx-codemirror   (keydown)="refreshHtml()" [(ngModel)]="htmlCodes" class=""
                           [options]="{
                                                htmlMode: true,
                                                 lineNumbers:
                                         false, theme: 'material',
                                                  mode: 'htmlmixed',
                                                  }"></ngx-codemirror>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<ng-container *ngIf="!htmlCodes && cssCodes && !jsCodes && !show_iframe">
  <!-- Mostrar algo si solo hay cssCodes -->
  <div class="flex flex-col w-full overflow-hidden">
    <div class="ml-10 w-min rounded-{{rounded}} {{bg_color_1}} -mb-2">
      <div class=" flex items-start p-2 px-6">
        <div class="flex justify-between mb-2">
          <p [class]="windowsCode === 'css' ? text_color_1 : text_color_2" (click)="windowsCode='css'">Css</p>
        </div>
      </div>
    </div>
    <div  class=" flex flex-wrap rounded-{{rounded}} {{height}}  w-full {{bg_color_1}} ">
      <div  class="flex  h-full w-full">
        <div  class=" w-full p-2 pr-0 " >
          <ngx-codemirror   (keydown)="refreshHtml()" [(ngModel)]="cssCodes" class=""
                           [options]="{
                                                htmlMode: true,
                                                 lineNumbers:
                                         false, theme: 'material',
                                                  mode: 'css',
                                                  }"></ngx-codemirror>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<ng-container *ngIf="!htmlCodes && !cssCodes && jsCodes && !show_iframe">
  <!-- Mostrar algo si solo hay jsCodes -->
  <div class="flex flex-col w-full overflow-hidden">
    <div class="ml-10 w-min rounded-{{rounded}} {{bg_color_1}} -mb-2">
      <div class=" flex items-start p-2 px-6">
        <div class="flex justify-between mb-2">
          <p [class]="windowsCode === 'css' ? text_color_1 : text_color_2" (click)="windowsCode='css'">JS</p>
        </div>
      </div>
    </div>
    <div  class=" flex flex-wrap rounded-{{rounded}} {{height}}  w-full {{bg_color_1}} ">
      <div  class="flex  h-full w-full">
        <div  class=" w-full p-2 pr-0 " >
          <ngx-codemirror   (keydown)="refreshHtml()" [(ngModel)]="jsCodes" class=""
                           [options]="{
                                                htmlMode: true,
                                                 lineNumbers:
                                         false, theme: 'material',
                                                  mode: 'javascript',
                                                  }"></ngx-codemirror>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<ng-container *ngIf="show_iframe">
  <!-- Mostrar algo si hay htmlCodes y cssCodes, pero no jsCodes -->
  <div class="flex flex-col w-full overflow-hidden">
    <div class=" flex flex-wrap w-full rounded-{{rounded}} ">
      <div class="rounded-t-{{rounded}} w-full flex justify-between  {{bg_color_2}} px-4 py-1 text-xs font-semibold">
        <p class="{{text_color_1}}">Code Playground</p>
        <div class="flex justify-between gap-4">
          <p (click)="refreshHtml()" class="{{text_color_1}}">run</p>
          <p class="{{text_color_1}}">Reset</p>
        </div>
      </div>
    </div>
    <div #contentPanel class=" flex flex-wrap rounded-b-{{rounded}}  {{height}}  w-full {{bg_color_1}} ">
      <div #upPanel class="flex  h-full w-full">
        <div #leftPanel class="split__left w-full p-2 pr-0 " >
          <div   class=" flex flex-wrap w-full  ">
            <div class=" w-full flex items-start  pb-2">
              <div class="flex justify-between gap-4">
                <p [class]="windowsCode === 'html' ? text_color_1 : text_color_2" (click)="windowsCode='html'">Html</p>
                <p [class]="windowsCode === 'css' ? text_color_1 : text_color_2" (click)="windowsCode='css'">Css</p>
                <p [class]="windowsCode === 'js' ? text_color_1 : text_color_2" (click)="windowsCode='js'">Js</p>
              </div>
            </div>
          </div>
          <ngx-codemirror *ngIf="windowsCode==='html'" (keydown)="refreshHtml()" [(ngModel)]="htmlCodes" class="w-full "
                          [options]="{
                                        htmlMode: true,
                                         lineNumbers:
                                         false, theme: 'material',
                                          mode: 'htmlmixed',
                                          }">

          </ngx-codemirror>
          <ngx-codemirror  *ngIf="windowsCode==='css'" (keydown)="refreshHtml()" [(ngModel)]="cssCodes" class=""
                           [options]="{
                                                htmlMode: true,
                                                 lineNumbers:
                                         false, theme: 'material',
                                                  mode: 'css',
                                                  }"></ngx-codemirror>
          <ngx-codemirror *ngIf="windowsCode==='js'" (keydown)="refreshHtml()" [(ngModel)]="jsCodes" class=""
                          [options]="{
                                          htmlMode: true,
                                           lineNumbers:
                                         false, theme: 'material',
                                            mode: 'javascript',
                                            }"></ngx-codemirror>
        </div>
        <div #splitBarHorizontal1 class="split__bar h-full" ></div>
        <div #centerPanel class="split__center rounded-{{rounded}} {{bg_color_1}}  p-2 pl-0 w-full">
          <iframe class="rounded-{{rounded}} bg-white w-full" #myIframe  [srcdoc]="safeCode" id="iframe-{{id}}"></iframe>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<!-- Agregar más condiciones según sea necesario -->
 