<footer class="text-textPrimary">
  <div class=" px-8">
    <div class="flex flex-wrap items-center">
      <div class=" w-full  md:w-6/12">
        <div
          class="text-xs  font-semibold py-1 text-center md:text-left"
        >
          Copyright © {{ date }}
          <a
            href=""
            class=" hover:text-blueGray-700 text-xs font-semibold py-1"
          >
            Francesc Fores
          </a>
        </div>
      </div>
      <div class="hidden md:flex w-full md:w-6/12  justify-end">
        <ul class="flex flex-wrap list-none justify-end">
          <li>
            <a
              href=""
              class=" hover:text-blueGray-800 text-xs font-semibold block py-1 px-3"
            >
              Creative Tim
            </a>
          </li>
          <li>
            <a
              href=""
              class=" hover:text-blueGray-800 text-xs font-semibold block py-1 px-3"
            >
              About Us
            </a>
          </li>
          <li>
            <a
              href=""
              class=" hover:text-blueGray-800 text-xs font-semibold block py-1 pl-3"
            >
              Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
