<div class="flex flex-col w-full">
      <div class="p-4 sm:px-0 flex flex-row justify-between items-center space-x-2">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Posts</h3>
        <app-button3d class="self-end inline-flex justify-center" (click)="create()" title="Create" [raise]="0" [height]="'30px'" [type]="'btn_primary'"  ></app-button3d>
      </div>
    <div class="mt-5">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-bgPrim overflow-hidden text-textPrimary"
      >
        <div *ngIf="posts" class="block w-full overflow-x-auto">
          <table  class="items-center w-full bg-transparent border-collapse">
            <thead>
            <tr>
              <th
                class="px-6 align-middle  border-b border-solid py-3 text-xs uppercase   whitespace-nowrap font-semibold text-left"
              >
                Imagen
              </th>
              <th
                class="px-6 align-middle  border-b border-solid py-3 text-xs uppercase   whitespace-nowrap font-semibold text-left"
              >
                name
              </th>
              <th
                class="max-w-xs px-6   border-b border-solid py-3 text-xs uppercase   whitespace-nowrap font-semibold text-left"
              >
                desc
              </th>
              <th
                class="align-middle px-6  border-b border-solid py-3 text-xs uppercase   whitespace-nowrap font-semibold text-left"
              >
                type
              </th>
              <th
                class="px-6   border-b border-solid py-3 text-xs uppercase   whitespace-nowrap font-semibold text-left"
              >Accion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pr of posts.data" >
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
              >
                <img
                  src="http://ctrl-api.test/storage/images/{{pr.img}}"
                  class="h-12 w-12 bg-white rounded-full border"
                  alt="..."
                />
              </th>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                {{pr.name}}
              </td>
              <td
                class="overflow-hidden max-w-xs border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                {{pr.desc}}
              </td>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                {{pr.type.name}}
              </td>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-right"              >
                <div class="flex justify-between items-center ">
                  <div class="group relative flex items-center justify-center">
                    <svg  class="h-5 w-5 text-textPrimary"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                      <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z" />
                      <line x1="7" y1="7" x2="7.01" y2="7" />
                    </svg>
                    <div class="mb-2 opacity-0 w-32 bg-black text-white text-center text-xs rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full  px-3 pointer-events-none">
                      Ver subcategorias
                      <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                    </div>
                  </div>

                  <svg (click)="edit(pr.id)" class="h-5 w-5 text-textPrimary"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />  <line x1="16" y1="5" x2="19" y2="8" /></svg>
                  <svg (click)="delete(pr.id)" class="h-5 w-5 text-red-400"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" /></svg>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div *ngIf="posts!=null" class="flex justify-center">
        <nav aria-label="Page navigation example">
          <ul class="flex list-style-none">
            <li class="page-item" *ngFor="let pr of posts.links">
              <a (click)="paginated(pr.label)" [ngClass]="{
              'bg-primary text-white': posts.current_page === pr.label,
              'bg-transparent text-textSecondary': posts.current_page !== pr.label
              }"
                 class="page-link relative block py-1.5 px-3 rounded border-0
              outline-none transition-all
              duration-300 rounded  hover:text-white focus:shadow-none"
              >{{pr.label}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
